1 VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEOS 0x40004
FILETYPE 0x2
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904B0"
		{
			VALUE "ProductName", "IconPatch22"
			VALUE "CompanyName", "RuHax"
			VALUE "LegalCopyright", "user666's original, RuHax Team"
			VALUE "FileDescription", "Allowing you to change the maximum number of icons in GD 2.2!"
			VALUE "OriginalFilename", "IconPatch22.dll"
		}
	}

	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409 0x04B0
	}
}
